ion-content{
    --background:linear-gradient(to bottom, #ebc6ed, #7b8ff4);
}
@-webkit-keyframes roll-in-left{0%{-webkit-transform:translateX(-800px) rotate(-540deg);transform:translateX(-800px) rotate(-540deg);opacity:0}100%{-webkit-transform:translateX(0) rotate(0deg);transform:translateX(0) rotate(0deg);opacity:1}}@keyframes roll-in-left{0%{-webkit-transform:translateX(-800px) rotate(-540deg);transform:translateX(-800px) rotate(-540deg);opacity:0}100%{-webkit-transform:translateX(0) rotate(0deg);transform:translateX(0) rotate(0deg);opacity:1}}
.container{
    -webkit-animation:roll-in-left 1s ease-out both;animation:roll-in-left 1s ease-out both;    img{
        height: 200px;
        margin-top: 60%;
    }
    
}