<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Notas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  @for(note of this.noteS.notes$ | async ; track $index){
    <ion-list>
      <ion-item-sliding>
        <ion-item-options side="start">
          <ion-item-option color="primary" expandable="true">
            <ion-icon slot="start" src="assets/icons/pencil-outline.svg" style="zoom: 1.5" (click)="editNote(note)"></ion-icon>
          </ion-item-option>
        </ion-item-options>
    
        <!--<ion-item (click)="presentAlert(note)">-->
        <!--<ion-item (click)="presentAlert(note)">
          <ion-label>{{note.title}}</ion-label>
        </ion-item>-->

        <!--meter acordeon-->
        <ion-accordion-group color="light">
          <ion-accordion value="first" color="light">
            <ion-item slot="header" color="light">
              <ion-label>{{note.title}}</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
              <ion-label>{{note.description}}</ion-label>          
            </div>
            <div class="ion-padding" slot="content">
              <ion-label slot="start">{{note.date}}</ion-label>
              
            </div>
            <!--<div class="ion-padding" slot="content"><ion-label>{{note.position?.latitude}}</ion-label></div>
            <div class="ion-padding" slot="content"><ion-label>{{note.position?.longitude}}</ion-label></div>-->
            <div class="ion-padding" slot="content" *ngIf="note.img">
              <img src="{{note.img}}" alt="Imagen de la nota">

            </div>

            <div *ngIf="note.position" class="ion-padding" slot="content">
              <div id="{{'map-' + (note.key ?? 'default')}}" style="height: 200px;"></div>
              {{ initializeMap(note.key ?? 'default', note.position.latitude, note.position.longitude) }}
            </div>
            
            
            
          

          </ion-accordion>
        </ion-accordion-group>
    
        <ion-item-options side="end">
          <ion-item-option color="danger" expandable="true">
            <ion-icon slot="start" src="assets/icons/trash-outline.svg" style="zoom: 1.5" (click)="removeNote(note)"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  }

</ion-content>