<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
</head>

<ion-header [translucent]="true">
  <ion-toolbar color="custom-color">
    <ion-title>
      Tareas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="form" (ngSubmit)="saveNote()">
    <ion-item>
      <ion-label>
        Title
      </ion-label>
      <ion-input type="text" formControlName="title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>
        Description
      </ion-label>
      <!--<ion-textarea formControlName="description" >{{ detectedText }}</ion-textarea>-->
      <ion-textarea formControlName="description" [value]="detectedText"></ion-textarea>
      <button (click)="checkAndRequestPermissions()">
        <ion-icon slot="icon-only" src="assets/icons/mic-outline.svg" style="font-size: 30px;"></ion-icon>
      </button>
    </ion-item>
    <ion-item>
      <ion-label>
        Date
      </ion-label>
      <ion-datetime-button datetime="datetime"></ion-datetime-button>
      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime id="datetime"></ion-datetime>
        </ng-template>
      </ion-modal>
    </ion-item>
    <ion-toolbar>
      <ion-button color="custom-color" slot="start" (click)="extractGeolocation()" *ngIf="latitude === null && longitude === null || latitude === undefined && longitude === undefined ">
        <ion-icon slot="icon-only" src="assets/icons/compass.svg"></ion-icon>
      </ion-button>
      <ion-button color="custom-color" slot="end" (click)="takePic()"
        *ngIf="imageBase64 === null || imageBase64 === undefined">
        <ion-icon slot="icon-only" src="assets/icons/camera.svg"></ion-icon>
      </ion-button>
    </ion-toolbar>
    <ion-button id="close-button" *ngIf="imageBase64 !== null" color="danger" fill="clear" (click)="imageBase64 = null">
      <ion-icon name="close" src="assets/icons/close-circle-outline.svg"></ion-icon>
    </ion-button>
    <ion-img *ngIf="imageBase64 !== null" [src]="'data:image/jpeg;base64,' + imageBase64"></ion-img>

    <ion-button id="close-button" color="danger" fill="clear" *ngIf="mapLoaded" (click)="latitude = null; longitude = null; mapLoaded=false">
      <ion-icon name="close" src="assets/icons/close-circle-outline.svg"></ion-icon>
    </ion-button>
  
    <div id="map" *ngIf="mapLoaded"></div>

    <ion-button color="custom-color" type="submit" expand="full" [disabled]="!form.valid">Submit</ion-button>

  </form>
</ion-content>