<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-tab-button tab="home">
    <ion-icon name="home"></ion-icon>
    <ion-label class="grandes-letras">Ionic</ion-label>
  </ion-tab-button>

  <div class="presentation">
    <h1>Isabel Roldán Córdoba</h1>
    <p>Desarrolladora de Aplicaciones Multiplataforma</p>
    <a href="https://www.linkedin.com/in/isabel-roldan-cordoba">Mi perfil de LinkedIn</a>
    <div><img src="assets/linkedin.png" alt="Imagen personal"></div>
  </div>
</ion-content>
