<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Edit</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-item>
    <ion-input labelPlacement="stacked" label="Title" [(ngModel)]="note.title" placeholder={{note.title}}></ion-input>
  </ion-item>
  <ion-item>
    <ion-input labelPlacement="stacked" label="Description" [(ngModel)]="note.description" placeholder={{note.description}}></ion-input>
  </ion-item>
  <ion-item *ngIf="note.img">
    <!--<img [src]="note.img" alt="Imagen de la nota">-->
    <img [src]="'data:image/jpeg;base64,' + note.img" alt="Imagen de la nota">
    <ion-button (click)="removeImage()">X</ion-button>
  </ion-item>
  <div *ngIf="note.position" class="ion-padding">
    <div id="map" style="height: 200px;width: auto;"></div>
    <ion-button (click)="removeMap()">X</ion-button>
  </div>
</ion-content>
